.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared color */
.text-primary{
    color: #FD6E0A;
}
/* Shared Color */
.dark-2{
    color: #474747;
}
/* shared btn */
.btn-primary{
    font-size: 20px;
    padding: 15px 18px;
    background: #FD6E0A;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
/* Header style */
.header{
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Shared background */
.secondary-bg{
    background-color: #FFF8F3;
}

.btn-primary-2{
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    padding: 15px 18px;
    margin: 20px;
    margin-right: 10px;
    color: #FD6E0A;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* Banner Style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 38px 0px 230px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 400;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0px;
}
.banner-discribtion{
    font-size: 18px;
}
.banner-content{
    max-width: 580px;
}
/* About Style */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}
.about-title{
    font-size: 35px;
    font-weight: bold;
}
main section{
    margin-top: 130px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.about-discription{
    font-weight: 700;
}
.text-center{
    text-align: center;
}
/* Skill style is hear */
.Skills-container{
    display: flex;
    margin-top: 50px;
    gap: 24px; 
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.section-title{
    font-size: 35px;
}
.section-description{
    font-size: 16px;
}

/* Resume styled */
.resume-container{
    display: flex;
    gap: 24px;
}
.exprience-description, .exprience-sub-title{
    color: #757575;
}
.exprience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.exprience-title{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 0;
}
.resume hr{
    margin: 30px 5px;
}
.resume-download-cv{
    margin-top: 50px;
}
/* Footer style is hear */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-colum{
    width: 50%;
}
footer input[type="text"], footer input[type="email"]{
    height: 64px;
    width: 461px;
    border-radius: 5px;
    background-color: white;
    border: none;
    color: #757575;
    padding: 10px 20px;
    margin-bottom: 24px;
    font-size: 16px;
    display: block;
}
.massage{
    height: 180px;
    width: 461px;
    border-radius: 5px;
    background-color: white;
    border: none;
    color: #757575;
    padding: 10px 20px;
    margin-bottom: 24px;
    font-size: 18px;
    display: block;
}

.hide{
    display: none;
}

@media screen and (max-width: 576px) {
    .Skills-container{
        flex-direction: column;
    }
    .resume-container{
        flex-direction: column;
    }
    footer, .about{
        flex-direction: column;
        padding: 20px;
    }
    .about-items{
        flex-direction: column;
    }
    .footer-colum{
        width: 100%;
    }
    footer input[type="text"], footer input[type="email"]{
        width: calc(100% - 5px) / 2;
    }
}